:root{
    --pr_0:hsl(199, 100%, 0%);
    --pr_5:hsl(199, 100%, 5%);
    --pr_10:hsl(199, 100%, 10%);
    --pr_20:hsl(199, 100%, 20%);
    --pr_30:hsl(199, 100%, 30%);
    --pr_40:hsl(199, 100%, 40%);
    --pr_50:hsl(199, 100%, 50%);
    --pr_60:hsl(199, 100%, 60%);
    --pr_70:hsl(199, 100%, 70%);
    --pr_80:hsl(199, 100%, 80%);
    --pr_90:hsl(199, 100%, 90%);
    --pr_95:hsl(199, 100%, 95%);
    --pr_99:hsl(199, 100%, 99%);
    --pr_995:hsl(199, 100%, 99.5%);
    --pr_100:hsl(199, 100%, 100%);

    --border:rgba(1, 34, 51, 0.2);
    --input_border:rgba(1, 34, 51, 0.3);
    --body-bg:var(--pr_95);
    --site_title:var(--pr_10);

    --input_bg:var(--pr_99);
    --input_focus:var(--pr_95);
    --clr:var(--pr_10);
    --each_note:var(--pr_100);
}
.dark_mode{
    --border:rgba(3, 71, 105, 0.7);
    --body-bg:var(--pr_10);
    --site_title:var(--pr_95);
    --input_border:rgba(1, 34, 51, 0.8);

    --input_bg:var(--pr_0);
    --input_focus:var(--pr_10);
    --clr:var(--pr_99);
    --each_note:var(--pr_0);

}